/* ======================================================
   External CSS File
   This file represents styles coming from an external source
   ====================================================== */

/* ELEMENT selector → lowest specificity */
div {
  background-color: lightblue;
  color:cadetblue

}

h2 {
        background-color: yellowgreen;
      }

      #CR {
        background-color: teal;
      }



/* NOTE:
   ID > Class > Element
   But ALL of these can be overridden by inline styles
*/
